{% extends 'drivingschool\admin-dashboard\main.html' %}

{% block content %}

<div class="content">
    <div class="d-flex justify-content-between align-items-end">
        <div class="">
            <h2>
                <span><i class="bi bi-cash-coin"></i></span>
                Add Payment
            </h2>
            
        </div>
    
        <!-- breadcrumbs -->
        <div class="">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="/">Home</a></li>
               <li class="breadcrumb-item active">Add Payment</li>
            </ol>
         </div>
         <!-- breadcrumbs -->
    </div><hr>
    
    <div class="card shadow-lg">
        <div class="card-header text-center" style="background-color: #a1642efd; color: #fff;">
          <h6 class="fw-bold">Payment Information</h6>
        </div>
        <div class="card-body">
            <span><i class="bi bi-cash-coin"></i></span> Payment Information<hr>
            <form class="row">
                <div class="col-6">
                    <h6>Reference Code</h6>
                    <input type="text" class="form-control" disabled placeholder="REF-123">
                </div>
                <div class="col-6">
                    <h6>Student</h6>
                    <select class="form-select">
                        <option value="John Doe">John Doe</option>
                        <option value="Jane Doe">Jane Doe</option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <h6>Amount</h6>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 mt-3">
                    <h6>Date of Payment</h6>
                    <input type="date" class="form-control">
                </div>
                <div class="col mt-3">
                    <h6>Remarks</h6>
                    <textarea class="form-control" placeholder="remarks"></textarea>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-dark">Save</a>
        </div>
      </div>
</div>

{% endblock %}