{% extends 'drivingschool/admin-dashboard/main.html' %}

{% block content %}

<div class="content">
    <div class="d-flex justify-content-between align-items-end">
        <div class="">
            <h2>
                <span><i class="bi bi-stickies-fill"></i></span>
                Add Enrollment
            </h2>
            
        </div>
    
        <!-- breadcrumbs -->
        <div class="">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="/">Home</a></li>
               <li class="breadcrumb-item active">Add Enrollment</li>
            </ol>
         </div>
         <!-- breadcrumbs -->
    </div><hr>
    
    <div class="card shadow-lg">
        <div class="card-header text-center" style="background-color: #a1642efd; color: #fff;">
          <h6 class="fw-bold">Enrollment Information</h6>
        </div>
        <div class="card-body">
            <i class="bi bi-stickies-fill"></i> Enrollment Information<hr>
            <form class="row" method="POST" id="enrollform">

                {% csrf_token %}
                <div class="col-6">
                    <h6>{{form.schedule_code.label}}</h6>
                    {{form.schedule_code}}
                </div>
                <div class="col-6">
                    <h6>{{form.student.label}}</h6>
                    {{form.student}}
                </div>
                <div class="col-6 mt-3">
                    <h6>{{form.instructor.label}}</h6>
                    {{form.instructor}}
                </div>
    
                <div class="col-6 mt-3">
                    <h6>{{form.remarks.label}}</h6>
                    {{form.remarks}}
                </div>
            </form>
        </div>
        <div class="card-footer">
           <button class="btn btn-dark" form="enrollform">Save</button>
        </div>
      </div>
</div>

{% endblock %}