{% extends 'drivingschool/admin-dashboard/main.html' %}

{% load static %}
{% block content%}

<div class="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-end">
                <div class="">
                    <h2>
                        <i class="bi bi-person-fill"></i></i></span>
                        Instructors List
                    </h2>
                    
                </div>
    
                <!-- breadcrumbs -->
                <div class="">
                    <ol class="breadcrumb float-sm-right">
                       <li class="breadcrumb-item"><a href="/">Home</a></li>
                       <li class="breadcrumb-item active">Instructors</li>
                    </ol>
                 </div>
                 <!-- breadcrumbs -->
            </div><hr>
        </div>
    </section>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">Instructor List</div>
                <div class="card-body">
                    <div class="table-responsive">   
                        <table class="table table-striped table-bordered" id="myTable">
                            <thead>
                                <tr>
                                <th scope="col">Profile</th>
                                <th scope="col">Instructor Info</th>
                                <th scope="col">Account</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Birthday</th>
                                <th scope="col">Experience</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for instructor in instructors %}
                                <tr>
                                    <td scope="row"><img src="{% static 'images/blank-head-pic.jpg'%}" alt="" style="height: 100px; width: 100px;"></td>
                                    <td>
                                        <p class="info">Name: <b>{{instructor.name}}</b></p>
                                        <p class="info"><small>Contact #: <b>{{instructor.contact}}</b></small></p>
                                        <p class="info"><small>Address: <b>{{instructor.address}}</b></small></p>
                                        <p class="info"><small>Email: <b>{{instructor.email}}</b></small></p>
                                    </td>
                                    <td>
                                        <p><small>Username: <b>{{instructor.username}}</b></small></p>
                                        <p><small>Password: <b>********</b></small></p>
                                    </td>
                                    <td>{{instructor.gender}}</td>
                                    <td>{{instructor.birthday}}</td>
                                    <td>{{instructor.experience}}</td>
                                    <td>{{instructor.status}}</td>
                                    <td>
                                        <div class="d-flex justify-content-end">
                                            <div style="margin: 3px;">
                                                <a href="{% url 'update-instructor' instructor.id %}" class="btn btn-success">
                                                    <i class="bi bi-pen-fill"></i>
                                                </a>
                    
                                            </div>
                                            <div style="margin: 3px;">
                                                <form action="{% url 'delete-instructor' instructor.id %}" method="POST">
                                                        {% csrf_token %}    
                                                    <button type="submit" class="btn btn-danger">
                                                        <i class="bi bi-trash-fill"></i>
                                                    </button>
                                                
                                                </form>
                    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    
                                    
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


    
    


{% endblock %}