{% extends 'drivingschool\admin-dashboard\main.html' %}

{% load static %}
{% block content%}

<div class="content">
    
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-end">
            <div class="">
                <h2>
                    <span><i class="bi bi-people-fill"></i></span>
                    Students List
                </h2>
                
            </div>

            <!-- breadcrumbs -->
            <div class="">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Students</li>
                </ol>
                </div>
                <!-- breadcrumbs -->
        </div><hr>
        
    </div>
    
    
    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">Students List</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="myTable">
                            <thead>
                              <tr>
                                <th scope="col">Profile</th>
                                <th scope="col">Student Info</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Birthday</th>
                                <th scope="col">Status</th>
                                <th scope="col">Account</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <th scope="row"><img src="{% static 'images/blank-head-pic.jpg'%}" alt="" style="height: 100px; width: 100px;"></th>
                                      
                                    <td>
                                        <p class="info">Name: <b>{{student.name}}</b></p>
                                        <p class="info"><small>Contact #: <b>{{student.contact}}</b></small></p>
                                        <p class="info"><small>Address: <b>{{student.address}}</b></small></p>
                                        <p class="info"><small>Email: <b>{{student.email}}</b></small></p>
                                    </td>
    
                                    <td>{{student.gender}}</td>
                                    <td>{{student.birthday}}</td>
                                    <td>{{student.status}}</td>
                                    <td>
                                        <p><small>Username: <b>{{student.username}}</b></small></p>
                                        <p><small>Password: <b></b>****</small></p>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-end">
                                            <div style="margin: 3px;">
                                                <button class="btn btn-success">
                                                    <i class="bi bi-pen-fill"></i>
                                                </button>
                    
                                            </div>
                                            <div style="margin: 3px;">
                                                <button class="btn btn-danger">
                                                    <i class="bi bi-trash-fill"></i>
                                                </button>
                    
                                            </div>
                                        </div>
                                    </td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                        </table>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}