{% extends 'drivingschool\instructor-dashboard\main.html' %}

{% block content %}

<div class="content">
    <div class="d-flex justify-content-between align-items-end">
        <div class="">
            <h2>
                <span><i class="bi bi-file-earmark-bar-graph-fill"></i></span>
                Add Report
            </h2>
            
        </div>
    
        <!-- breadcrumbs -->
        <div class="">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="/">Home</a></li>
               <li class="breadcrumb-item active">Add Report</li>
            </ol>
         </div>
         <!-- breadcrumbs -->
    </div><hr>
    
    <div class="card shadow-lg">
        <div class="card-header text-center" style="background-color: #a1642efd; color: #fff;">
          <h6 class="fw-bold">Report Information</h6>
        </div>
        <div class="card-body">
            <i class="bi bi-stickies-fill"></i> Report Information<hr>
            <form class="row">
                <div class="col-6">
                    <h6>Training Course</h6>
                    <select class="form-select">
                        <option value="John Doe">Driving Theory</option>
                        <option value="Jane Doe">Driving Ability</option>
                    </select>
                </div>
                <div class="col-6">
                    <h6>Score</h6>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 mt-3">
                    <h6>Student</h6>
                    <select class="form-select">
                        <option value="John Doe">Lubinda Mambo</option>
                        <option value="Jane Doe">Charina Jabulani</option>
                    </select>
                </div>
    
                <div class="col-6 mt-3">
                    <h6>Remarks</h6>
                    <textarea class="form-control" placeholder="remarks"></textarea>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-dark">Save</a>
        </div>
      </div>
</div>

{% endblock %}