{% extends 'drivingschool\instructor-dashboard\main.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div>
      <h2>
        <span><i class="bi bi-person-lines-fill"></i></span>
        Instructor Dashboard
      </h2><hr>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-center card1">
                
                <div class="card-body">
                <h1 class="card-title">8 </h1>
                <p class="card-text"></p>
                <a href="#" class="btn btn-dark">SCHEDULES</a>
                </div>
                <a href="#" class="btn-link">
                    <div class="c-footer1">
                    More Info
                    <span><i class="bi bi-arrow-right-circle-fill"></i></span>
                    </div>
                </a>
            </div>
            
        </div>
    
        <div class="col">

            <div class="card text-center card2">

                <div class="card-body">
                    <h1 class="card-title">6 </h1>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-dark">STUDENTS</a>
                </div>
                <a href="#" class="btn-link">
                    <div class="c-footer2">
                        More Info
                        <span><i class="bi bi-arrow-right-circle-fill"></i></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}